@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.welcome-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2; /* Light grey color, adjust as needed */
}

.welcome-root h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: moveLeftToRight 1.5s ease-in-out; /* Adjust the animation duration as needed */
}
